@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    ViewData["ErrorMessage"] = null;
}
<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h4>Portal Login</h4>
                <hr />
                @if (ViewData["ErrorMessage"] != null)
                {
                    <p class="text-danger">
                        @ViewData["ErrorMessage"]
                    </p>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Email / Username</label>
                    <br />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    <input type="text" asp-for="Input.UserName" class="form-control" placeholder="Enter email or username" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <br />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        Do not have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </p>
                    @*<p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>*@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
